.body {
  width: 500px;
  margin: 10px 40px 10px 80px;
  font-family: 'Over the Rainbow';
}
.header {
  
}
.header__subtitle {
  font-family: 'Dekko';
  text-align: right;
  color: #511D6B;
  margin-bottom: -5px;
  margin-top: 0;
  font-weight: 800;
}
.header__chapternumber {
  float: right;
  padding: 0 4px;
  font-size: 20pt;
  font-style: italic;
  font-weight: bold;
  color: #B693C8;
}
.section {
  
}
.section__text {
  text-align: left;
  line-height: 1.5;
}
.section__title {
  font-size: 13pt;
  text-align: left;
  color: #511D6B;
  margin-bottom: -5px;
  margin-top: 0;
  font-weight: 800;
}
.aside {
    background: #A4BE7C;
    width: 50%;
    padding: 3px;
    border: 1px solid #000;
    float: left;
    margin: 0 10px 10px -50px;
    line-height: 1.5;
 }
.aside__subsubtitle {
  font-size: 12pt;
  text-align: center;
  color: white;
  background: #511D6B;
  padding: 3px;
  font-weight: bold;
  margin-bottom: -5px;
  margin-top: 0;
}
.aside__list {
  
}
.footer {

}
.footer__pagenumber {
    background: #6D3C7D;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-family: 'Dekko';
    text-align: center;
    line-height: 30px;
    color: white;
    float: right;
    margin: 0 5px 5px 5px;
}
.footer__address {
  
}
.footer__text {
  
}